{% extends "base.html" %}
{% block app_content %}
<h1>Welcome Member, Pick your Read..!</h1>
    <table class="table table-hover">
        {% for book in books %}
            <tr>
                <td>
                    <p>{{ 'Book' }}: {{ book.title }}</p>
                </td>
                <td>
                    <p>
                        <a href="{{ url_for('member_bp.home') }}">{{ 'View Book' }}</a> | 
                        <a href="{{ url_for('member_bp.home') }}">{{ 'Loan Request' }}</a> | 
                        <a href="{{ url_for('member_bp.home') }}">{{ 'Buy' }}</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

